@use "../../styles/mixins/vertical-rhythm";
@use "../../styles/extends/link-underline";

.post-excerpt__wrapper {
  max-width: var(--mw-xs);

  margin: var(--ls-lg) 0;
}

.post-excerpt__title {
  @include vertical-rhythm.vr-font("lg");

  margin: var(--cs-md) 0;

  a {
    @extend %link-underline;
    color: var(--text-primary);
  }
}

.post-excerpt__content {
  @include vertical-rhythm.vr-font("md");

  margin: 0;

  font-family: var(--fn-serif);
  letter-spacing: -0.003em;
  color: var(--text-secondary);
}

.post-excerpt__info {
  @include vertical-rhythm.vr-font("sm");

  font-family: var(--fn-mono);
  color: var(--text-secondary);
}

.post-excerpt__keyword {
  text-decoration: underline;
  color: var(--text-secondary);

  &:hover,
  &:focus {
    color: var(--primary-500);
  }
}
