.post-excerpt__wrapper {
  max-width: 600px;

  margin: var(--ls-lg) 0;
}

.post-excerpt__title {
  margin: var(--cs-lg) 0;

  a {
    color: var(--text-primary);
  }
}

.post-excerpt__content {
  margin: 0;

  font-family: var(--fn-serif);
  line-height: 1.5;
  letter-spacing: -0.003em;

  color: var(--text-secondary);
}

.post-excerpt__date {
  margin: 0;

  font-family: var(--fn-mono);
  font-size: 14px;
  color: var(--text-secondary);
}
