@import "../../styles/mixins/vertical-rhythm";

.post-excerpt__wrapper {
  max-width: var(--mw-xs);

  margin: var(--ls-lg) 0;
}

.post-excerpt__title {
  @include vr-font("lg");

  margin: var(--cs-md) 0;

  a {
    color: var(--text-primary);
  }
}

.post-excerpt__content {
  @include vr-font("md");

  margin: 0;

  font-family: var(--fn-serif);
  letter-spacing: -0.003em;
  color: var(--text-secondary);
}

.post-excerpt__date {
  @include vr-font("sm");

  font-family: var(--fn-mono);
  color: var(--text-secondary);
}
