<link href="http://fonts.googleapis.com/css?family=Lato:100,400" rel="stylesheet">
<link href="css/template/countdown.css" rel="stylesheet">

<div class="container">
    <div class="slide slide-1">
        <div class="centered">
            <h1 class="light">Countdown</h1>
            <h2>One-page którego potrzebujesz.</h2>
        </div>
    </div>

    <div class="slide slide-2">
        <div class="grid-row grid-middle" style="text-align: center">
            <div class="grid-column light">
                <p class="big">4kb</p>
                <p>Waga szablonu</p>
            </div>

            <div class="grid-column light">
                <p class="big">150ms</p>
                <p>Czas wczytywania</p>
            </div>

            <div class="grid-column light">
                <p class="big">5€</p>
                <p>Cena wywoławcza</p>
            </div>
        </div>

        <div class="typeset"><hr></div>

        <div class="grid-row grid-middle">
            <div class="grid-column-8 no-left-gutter">
                <img class="image" src="images/template/countdown/2.png" style="max-width: 781px; max-height: 481px">
            </div>

            <div class="grid-column-4 typeset light">
                <h3>Stworzony w najnowszych technologiach.</h3>
                <p>„Countdown” wykorzystuje w pełni możliwości HTML5 oraz CSS3, ale jego kod źródłowy używa jednego z najbardziej popularnych preprocesorów CSS - SASS wraz z Compass. W celach optymalizacyjnych, wykorzystywany jest czysty kod JavaScript, bez bibliotek trzecich jak jQuery.</p>

                <br>

                <h3>Łatwy w edycji.</h3>
                <p>Szablon „Countdown” został stworzony tak, aby był prosty w edycji nawet bez znajomości HTML i CSS. Zmiana kolorów, czcionek czy kształtów ogranicza się do zmiany wartości odpowiednich zmiennych. Osoby bardziej doświadczone w web-mastering'u również bardzo szybko się odnajdą dzięki bardzo dobrze uporządkowanemu i udokumentowanemu kodzie.</p>
            </div>
        </div>
    </div>
</div>
