@mixin focusable($border: 0 0 3px 0, $base-color: transparent) {
  border-width: $border;
  border-style: solid;
  border-color: $base-color;
  outline: 0;

  &.is-active,
  &.is-focused,
  &:focus {
    border-color: $color-accent;
  }
}
