::selection {
  background-color: $color-accent;
  color: $color-text;
}

*, *:after, *:before {
  @extend %text-rendering;

  box-sizing: inherit;
  outline: none;

  -webkit-tap-highlight-color: rgba($color-accent, .0);
}

body, html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;

  min-width: 320px;
  height: 100%;

  font-family: $font-main;
  font-size: $font-size;

  box-sizing: border-box;
}

a {
  @include focusable();

  color: $color-link;
  cursor: pointer;

  &, &:active, &:focus, &:hover {
    text-decoration: none;
  }
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  *:first-child {
    flex: 1;
  }
}
