.footer {
  position: relative;

  margin: 0 auto;
  padding: 4rem 1rem;

  max-width: 1250px;
  width: 100%;
}

.footer__menu {
  padding: 0;
}

.footer__item {
  display: inline-block;
  margin: 0 1rem;

  font-family: var(--fn-mono);
  font-size: 16px;
}

.footer__item a {
  color: var(--text-primary);
}

.footer__item--contact {
  float: right;
}

.footer__source {
  margin: 1.5rem 1rem 0;
}
