@import "../../styles/mixins/mediaquery.scss";

.footer {
  position: relative;

  margin: 0 auto;
  padding: var(--ls-lg) var(--ls-xxs);

  max-width: 1250px;
  width: 100%;
}

.footer__menu {
  padding: 0;
  margin: 0 0 var(--cs-xl);
}

.footer__item {
  display: inline-block;
  margin: 0 var(--cs-md);

  font-family: var(--fn-mono);
  font-size: 16px;
  line-height: 32px;

  @include mediaquery("sm") {
    margin: 0 var(--cs-lg);
  }

  &--contact {
    float: right;
  }

  a {
    color: var(--text-primary);
  }
}

.footer__item-text {
  display: none;

  @include mediaquery("sm") {
    display: initial;
  }
}

.footer__item-icon {
  position: relative;
  width: 22px;

  fill: var(--text-primary);

  &--linkedin {
    top: -1px;
    width: 20px;
  }

  &--youtube {
    top: 2px;
    width: 26px;
  }

  @include mediaquery("sm") {
    display: none;
  }
}

.footer__contact-text {
  display: none;

  @include mediaquery("xxs") {
    display: initial;
  }
}

.footer__contact-icon {
  position: relative;
  top: 4px;
  width: 22px;

  fill: var(--text-primary);

  @include mediaquery("xxs") {
    display: none;
  }
}

.footer__source {
  margin: var(--cs-xl) var(--cs-lg) 0;
  color: var(--text-primary);
}
