@import "../styles/extends/prefix-headings";
@import "../styles/extends/reset-list";
@import "../styles/extends/text-heading";
@import "../styles/extends/text-paragraph";
@import "../styles/extends/text-word-wrap";
@import "../styles/mixins/mediaquery";
@import "../styles/mixins/vertical-rhythm";

.post__header {
  margin: var(--ls-xl) 0;
  text-align: center;

  color: var(--text-primary);

  time {
    @include vr-font("md");

    display: block;
    margin-top: var(--ls-xxs);
  }
}

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    @extend %text-heading;
  }

  h1 {
    @include vr-font("xxl");
  }

  h2 {
    @include vr-font("xl");
  }

  h3 {
    @include vr-font("lg");
  }

  h4 {
    @include vr-font("lg");
  }
}

.post__content {
  @extend %text-word-wrap;
  @extend %text-paragraph;
  @extend %prefix-headings;

  margin: 0 auto;

  width: 100%;
  max-width: var(--mw-sm);

  color: var(--text-primary);

  a {
    border-width: 0 0 1px;
    border-color: currentColor;
    border-style: solid;

    letter-spacing: -0.005em;

    &,
    code {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: var(--primary-500);
      border-color: var(--primary-500);
      border-style: solid;
      border-width: 0 0 2px;
    }
  }

  abbr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--text-secondary);

    text-decoration: none;
    cursor: help;
  }

  h2 {
    margin-top: var(--ls-md);
  }
  h3 {
    margin-top: var(--ls-md);
  }
  h4 {
    margin-top: var(--ls-sm);
  }

  b,
  strong {
    font-weight: 700;
  }

  p {
    @extend %text-paragraph;

    letter-spacing: 0.01rem;

    margin-top: var(--ls-xxs);
    margin-bottom: 0;

    img {
      max-width: 100%;
      height: auto;

      margin: var(--ls-sm) auto var(--ls-xxs);
    }
  }

  a,
  p,
  li {
    & > code {
      font-size: calc(var(--fs-lg) * 0.9);
      line-height: calc(var(--vr-unit) * 4);
    }
  }

  ul,
  ol {
    margin: var(--ls-sm) 0;
    padding: 0;

    li {
      @extend %text-paragraph;

      margin-left: var(--ls-sm);
      margin-bottom: var(--ls-xxs);

      letter-spacing: -0.005em;
    }

    ul,
    ol {
      margin: var(--ls-xxs) 0 0;
    }
  }

  blockquote {
    $decoration-border-width: 5px;
    $padding-vertical: var(--cs-xxs);
    $padding-horizontal: var(--ls-xxs);
    $margin-vertical: var(--ls-md);
    $margin-horizontal: calc(-1 * $padding-horizontal);

    border-left-width: $decoration-border-width;
    border-left-style: solid;
    border-left-color: var(--text-secondary);

    margin: $margin-vertical $margin-horizontal;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    padding-right: var(--ls-xxs);
    padding-left: calc(var(--ls-xxs) - #{$decoration-border-width});

    &,
    p {
      @extend %text-paragraph;

      font-style: italic;
      letter-spacing: -0.01em;
      color: var(--text-secondary);
    }
  }

  pre,
  code {
    @include vr-font("md");

    font-family: var(--fn-mono);
    font-weight: 400;
    font-style: normal;

    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    hyphens: none;
    tab-size: 4;

    color: var(--text-secondary);
  }

  pre {
    min-width: 100%;

    margin: var(--ls-md) calc(-1 * var(--ls-xxs));
    padding: var(--ls-xs) var(--ls-xxs);

    background-color: var(--background-300);

    -webkit-overflow-scrolling: auto;
    overflow: auto;

    @include mediaquery("lg") {
      margin: var(--ls-md) 0;
      padding: var(--ls-xs);

      border-radius: var(--br-md);
    }
  }

  code {
    border-radius: var(--br-md);

    letter-spacing: -0.005em;

    .comment {
      color: var(--color-prettylights-syntax-comment);
    }
    .constant {
      color: var(--color-prettylights-syntax-constant);
    }
    .function {
      color: var(--color-prettylights-syntax-entity);
    }
    .keyword {
      color: var(--color-prettylights-syntax-keyword);
    }
    .string {
      color: var(--color-prettylights-syntax-string);
    }
    .number {
      color: var(--color-prettylights-syntax-constant);
    }
    .variable {
      color: var(--color-prettylights-syntax-variable);
    }
    .operator {
      color: var(--color-prettylights-syntax-constant);
    }
    .class-name {
      color: var(--color-prettylights-syntax-storage-modifier-import);
    }
    .attr-name {
      color: var(--color-prettylights-syntax-constant);
    }
    // CSS:
    .selector {
      color: var(--color-prettylights-syntax-constant);
    }
    .rule {
      color: var(--color-prettylights-syntax-keyword);
    }
    // JSX tag names:
    .tag > .tag {
      color: var(--color-prettylights-syntax-entity-tag);
    }
    // JSX tag brackets:
    .tag > .tag .punctuation,
    .tag > .punctuation:last-child {
      color: var(--color-prettylights-syntax-constant);
    }
    // Git diff:
    .deleted {
      background-color: var(--color-prettylights-syntax-markup-deleted-bg);
      color: var(--color-prettylights-syntax-markup-deleted-text);
    }
    .inserted {
      background-color: var(--color-prettylights-syntax-markup-inserted-bg);
      color: var(--color-prettylights-syntax-markup-inserted-text);
    }
    // JSON:
    .property {
      color: var(--color-prettylights-syntax-entity-tag);
    }

    .gatsby-highlight-code-line {
      background-color: var(--background-500);
      display: block;

      margin-right: calc(-1 * var(--ls-xs));
      margin-left: calc(-1 * var(--ls-xs));

      padding-right: 1em;
      padding-left: 1.25em;
      border-left: 0.25em solid var(--primary-500);
    }
  }

  figure {
    margin: 0;
  }

  hr {
    display: block;

    margin: var(--ls-xl) 0;
    padding: 0;

    border: 0;
    height: 0;

    text-align: center;

    &::before {
      @include vr-font("xl");

      display: inline-block;
      position: relative;
      top: -30px;

      margin-left: 0.6em;

      font-family: var(--fn-serif);
      font-weight: 400;
      font-style: italic;
      letter-spacing: 0.6em;
      color: var(--text-secondary);

      content: "...";
    }
  }
}
