.button {
  display: block;

  margin: 1.25rem 1rem;
  padding: .75rem;

  font-size: .85rem;
  font-weight: 900;
  color: rgba($color-background, .95);

  background-image: linear-gradient(darken($color-accent, 5%), darken($color-accent, 7.5%));
  background-color: darken($color-accent, 5%);
  border-radius: 3px;

  transition: all 200ms ease;
  transform: translateY(-2px);
  box-shadow: 0 3px 15px 0 rgba($color-accent, .75);

  &, &:focus {
    @include focusable(1px);
  }

  &:hover,
  &:focus {
    transform: none;
    box-shadow: none;

    border-color: darken($color-accent, 10%);
    color: $color-background;
  }
}
