@import "../../styles/mixins/mediaquery.scss";

.hero {
  height: calc(100vh - var(--vr-lh) * 3);
  min-height: 288px; // 8 * 35

  @include mediaquery("sm") {
    height: 480px; // 8 * 60
  }
}

.hero__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: var(--background-300);
  background: linear-gradient(
      to bottom,
      var(--background-100),
      var(--background-300) 40%
    )
    fixed;

  @include mediaquery("sm") {
    padding-bottom: calc(var(--vr-lh) * 3);
  }
}

.hero__title {
  margin: 0 0 var(--cs-md);

  font-family: var(--fn-head);
  font-size: 65px;
  line-height: 65px;
  letter-spacing: -0.003em;
  color: var(--text-primary);

  @include mediaquery("sm") {
    font-size: 83px;
    line-height: 83px;
  }
}

.hero__subtitle {
  /* Align with title: */
  margin: 0 0 0 4px;

  font-size: 18px;
  letter-spacing: 0.85px;
  color: var(--text-primary);

  @include mediaquery("sm") {
    margin: 0 0 0 6px;

    font-size: 16px;
    letter-spacing: 0.75px;
  }
}

/* Shorten subtitle on mobile: */
.hero__subtitle span {
  display: none;

  @include mediaquery("sm") {
    display: initial;
  }
}
