.keyword {
  display: inline-block;

  padding: var(--cs-xs) var(--cs-sm);
  margin: 0 var(--cs-xxs);

  font-size: 0.8rem;

  color: var(--primary);
  background-color: hsl(var(--primary), 50%);
  border-radius: 3px;
}
