@import "../../styles/mixins/vertical-rhythm";

.keyword {
  @include vr-font("xs");

  display: inline-block;

  padding: 0 var(--cs-sm);
  margin: 0 0 var(--cs-sm) var(--cs-sm);

  color: var(--primary-100);
  background-color: var(--primary-500);
  border-radius: var(--br-md);

  white-space: nowrap;
}
