<nav class="header" itemtype="http://schema.org/SiteNavigationElement" itemscope>
  <ul class="header-content">
    <li class="header-item">
      <a href="{{ "/" | relative_url }}" rel="index" title="Go to main page">Łanek</a>
    </li>

    <li class="header-item">
      <a class="{% if page.permalink == "/posts/" %}is-active{% endif %}" href="{{ "/posts/" | relative_url }}">Devblogs</a>
    </li>

    <li class="header-item">
      <a class="{% if page.permalink == "/about/" %}is-active{% endif %}" href="{{ "/about/" | relative_url }}" rel="author">About me</a>
    </li>
  </ul>
</nav>
