<nav class="header" itemtype="http://schema.org/SiteNavigationElement" itemscope>
  <ul class="header-content">
    <li class="header-item">
      <a href="{{ "/" | relative_url }}" rel="index" title="Go to main page">Łanek</a>
    </li>

    <li class="header-item">
      <a class="{% if page.permalink == "/posts/" %}is-active{% endif %}" href="{{ "/posts/" | relative_url }}">Devblogs</a>
    </li>

    <li class="header-item">
      <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/open?id=1Wfe5yuhj-PBrbfBvNcXyMejG5UGq9K1W" rel="author" title="Get my résumé from Google Drive">Résumé</a>
    </li>
  </ul>
</nav>
