@use "../../styles/mixins/vertical-rhythm";

.repository__link {
  --border-width: 2px;

  display: flex;
  flex-direction: column;

  height: 100%;

  padding: calc(var(--cs-md) - var(--border-width))
    calc(var(--cs-sm) - var(--border-width))
    calc(var(--cs-sm) - var(--border-width));

  border-width: var(--border-width);
  border-radius: var(--br-md);
  border-style: solid;
  border-color: var(--background-500);

  outline: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: border-color, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  &:hover,
  &:focus {
    border-color: var(--primary-300);
  }

  &:focus {
    box-shadow: 0 0 0 5px var(--primary-100);
  }
}

.repository__name {
  @include vertical-rhythm.vr-font("sm");

  margin: 0 var(--cs-sm);

  font-family: var(--fn-mono);
  font-weight: 500;
  color: var(--text-primary);
}

.repository__description {
  @include vertical-rhythm.vr-font("sm");

  flex: 1;
  margin: var(--cs-sm) var(--cs-sm) var(--cs-md);

  color: var(--text-primary);
}

.repository__tag {
  @include vertical-rhythm.vr-font("xs");

  display: inline-block;

  padding: 0 var(--cs-sm);
  margin: 0 0 var(--cs-sm) var(--cs-sm);

  border-radius: var(--br-md);

  color: var(--text-primary);
  background-color: var(--primary-500);
}
