.repository__link {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: var(--cs-xl) var(--cs-md) var(--cs-md);

  border-width: 2px;
  border-radius: var(--br-md);
  border-style: solid;
  border-color: var(--background-500);

  outline: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: transform, box-shadow;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  &:hover,
  &:focus {
    transform: scale(1.025);
  }

  &:focus {
    border-color: var(--primary-300);
    box-shadow: 0 0 0 5px var(--primary-100);
  }
}

.repository__name {
  margin: 0 var(--cs-sm);

  font-size: var(--fs-sm);
  font-family: var(--fn-mono);
  font-weight: 500;
  color: var(--text-primary);
}

.repository__description {
  flex: 1;

  margin: var(--cs-md) var(--cs-sm) var(--cs-lg);

  font-size: var(--fs-sm);
  line-height: 1.5;
  color: var(--text-primary);
}
