@import "../../styles/mixins/theme.scss";

@include theme("dark") {
  .repository__link {
    background-color: var(--background-300);
  }
}

.repository__link {
  position: relative;
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: var(--cs-lg) var(--cs-md) var(--cs-md);

  transition-property: transform, box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  border-width: 1px;
  border-radius: 6px;
  border-style: solid;
  border-color: var(--background-500);
  box-shadow: 0 1px 1px rgb(0 0 0 / 8%);

  outline: 0;

  &:hover,
  &:focus {
    transform: scale(1.025);
  }

  &:hover {
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
  }

  &:focus {
    border-color: var(--primary-300);
    box-shadow: 0 0 0 5px var(--primary-100);
  }
}

.repository__meta {
  display: flex;
  position: absolute;
  top: 1rem;
  right: 1rem;

  margin: 0;
  padding: 0;

  list-style: none;

  font-family: var(--fn-mono);
  font-size: 0.85rem;
  color: var(--text-primary);
  background-image: linear-gradient(
    90deg,
    rgba(var(--background-100), 0.0000001),
    var(--background-100) 15%
  );
}

.repository__name {
  margin: 0 var(--cs-sm);

  font-family: var(--fn-mono);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-primary);
}

.repository__description {
  flex: 1;

  margin: var(--cs-md) var(--cs-sm) var(--cs-lg);

  font-size: 0.9rem;
  line-height: 1.25rem;
  color: var(--text-primary);
}
