body {
  background-color: var(--background);
  font-family: var(--fn-main);
}

body.light {
  /* Colors: */
  --background: #fff;
  --primary: #fd8103;
  --text: #000;

  /* Fonts: */
  --fn-main: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  --fn-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

a {
  color: var(--primary);
  text-decoration: none;

  border-width: 0 0 3px;
  border-style: solid;
  border-color: transparent;
}

a:focus {
  border-color: var(--primary);
}

.visually-hidden:not(:focus) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
