html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  background-color: var(--background-100);
  font-family: var(--fn-main);
  font-size: var(--vr-fs);
}

:root {
  /* Fonts: */
  --fn-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --fn-head: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    var(--fn-main);
  --fn-mono: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  --fn-serif: "pt serif", Georgia, Cambria, times new roman, Times, serif;

  /* Vertical rhythm: */
  --vr-unit: 0.8rem; // ~8px
  --vr-fs: calc(var(--vr-unit) * 2); // ~16px
  --vr-lh: calc(var(--vr-unit) * 3); // ~24px

  /* Font sizes: */
  --fs-xs: 1.2rem;
  --lh-xs: var(--vr-lh);
  --fs-sm: 1.4rem;
  --lh-sm: var(--vr-lh);
  --fs-md: 1.6rem;
  --lh-md: var(--vr-lh);
  --fs-lg: 2rem;
  --lh-lg: var(--vr-lh);
  --fs-xl: 3.2rem;
  --lh-xl: calc(var(--vr-lh) * 2);
  --fs-xxl: 3.8rem;
  --lh-xxl: calc(var(--vr-lh) * 2);

  /* Border radius */
  --br-sm: calc(var(--vr-unit) * 1);
  --br-md: calc(var(--vr-unit) * 2);

  /* Component spacings: */
  --cs-sm: calc(var(--vr-unit) * 1);
  --cs-md: calc(var(--vr-unit) * 2);
  --cs-xl: calc(var(--vr-unit) * 3);

  /* Layout spacings: */
  --ls-xxs: calc(var(--vr-unit) * 2);
  --ls-xs: calc(var(--vr-unit) * 3);
  --ls-sm: calc(var(--vr-unit) * 4);
  --ls-md: calc(var(--vr-unit) * 6);
  --ls-lg: calc(var(--vr-unit) * 8);
  --ls-xl: calc(var(--vr-unit) * 10);

  /* Max widths: */
  --mw-xxs: calc(var(--vr-unit) * 54); // ~432px – Page heading
  --mw-xs: calc(var(--vr-unit) * 74); // ~592px – Post excerpt
  --mw-sm: calc(var(--vr-unit) * 106); // ~848px – Post content
  --mw-md: calc(var(--vr-unit) * 156); // ~1248px – Page content
}

body.dark {
  color-scheme: dark;

  --text-primary: hsl(0 0% 91%);
  --text-secondary: hsl(0 0% 62%);

  --background-100-shade: 0 0% 7%;
  --background-100: hsl(var(--background-100-shade));
  --background-300: hsl(var(--background-100-shade));
  --background-500: hsl(0 0% 15%);

  --primary-100: hsl(266 48% 15%);
  --primary-300: hsl(266 48% 35%);
  --primary-500: hsl(266 48% 50%);

  --color-success: hsl(142 76% 36%);
  --color-success-background: hsl(142 76% 36% / 0.1);
  --color-failure: hsl(0 74% 42%);
  --color-failure-background: hsl(0 74% 42% / 0.1);
  --color-warning: hsl(32 95% 44%);
  --color-warning-background: hsl(32 95% 44% / 0.1);
  --color-info: hsl(224 76% 48%);
  --color-info-background: hsl(224 76% 48% / 0.1);

  --color-prettylights-syntax-comment: #768390;
  --color-prettylights-syntax-constant: #6cb6ff;
  --color-prettylights-syntax-entity: #dcbdfb;
  --color-prettylights-syntax-storage-modifier-import: #adbac7;
  --color-prettylights-syntax-entity-tag: #8ddb8c;
  --color-prettylights-syntax-keyword: #f47067;
  --color-prettylights-syntax-string: #96d0ff;
  --color-prettylights-syntax-variable: #f69d50;
  --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
  --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
  --color-prettylights-syntax-invalid-illegal-bg: #922323;
  --color-prettylights-syntax-carriage-return-text: #cdd9e5;
  --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
  --color-prettylights-syntax-string-regexp: #8ddb8c;
  --color-prettylights-syntax-markup-list: #eac55f;
  --color-prettylights-syntax-markup-heading: #316dca;
  --color-prettylights-syntax-markup-italic: #adbac7;
  --color-prettylights-syntax-markup-bold: #adbac7;
  --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
  --color-prettylights-syntax-markup-deleted-bg: #78191b;
  --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
  --color-prettylights-syntax-markup-inserted-bg: #1b4721;
  --color-prettylights-syntax-markup-changed-text: #ffddb0;
  --color-prettylights-syntax-markup-changed-bg: #682d0f;
  --color-prettylights-syntax-markup-ignored-text: #adbac7;
  --color-prettylights-syntax-markup-ignored-bg: #255ab2;
  --color-prettylights-syntax-meta-diff-range: #dcbdfb;
  --color-prettylights-syntax-brackethighlighter-angle: #768390;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
  --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
}

body.light {
  color-scheme: light;

  --text-primary: hsl(0 0% 0%);
  --text-secondary: hsl(0 0% 25%);

  --background-100-shade: 0 0% 100%;
  --background-100: hsl(var(--background-100-shade));
  --background-300: hsl(0 0% 97%);
  --background-500: hsl(0 0% 88%);

  --primary-100: hsl(33 98% 96%);
  --primary-300: hsl(33 98% 75%);
  --primary-500: hsl(33 98% 50%);

  --color-success: hsl(142 76% 36%);
  --color-success-background: hsl(142 76% 36% / 0.1);
  --color-failure: hsl(0 74% 42%);
  --color-failure-background: hsl(0 74% 42% / 0.1);
  --color-warning: hsl(32 95% 44%);
  --color-warning-background: hsl(32 95% 44% / 0.1);
  --color-info: hsl(224 76% 48%);
  --color-info-background: hsl(224 76% 48% / 0.1);

  --color-prettylights-syntax-comment: #606972;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-entity: #8250df;
  --color-prettylights-syntax-storage-modifier-import: #24292f;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #24292f;
  --color-prettylights-syntax-markup-bold: #24292f;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
}

a {
  color: var(--primary-500);
  text-decoration: none;
}
