*,
*:after,
*:before {
  box-sizing: inherit;
  outline: none;
}

body,
html {
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;

  min-width: 320px;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}
