*,
*::after,
*::before {
  box-sizing: inherit;
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  min-width: 320px;

  box-sizing: border-box;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-feature-settings: "zero", "liga", "lnum", "kern";
}
