@import "../../styles/mixins/vertical-rhythm";

.skip {
  @include vr-font("lg");

  position: absolute;
  top: var(--vr-lh);
  left: var(--vr-lh);

  font-family: var(--fn-main);
  font-weight: 700;

  background-color: var(--primary-500);
  color: var(--text-primary);

  z-index: 5;
}
