%link-underline {
  --line-color: var(--primary-500);
  --line-size-hover: 2px;
  --line-offset: calc(var(--vr-unit) / 2 - var(--line-size-hover));
  --line-animation-duration: 150ms;
  --line-animation-timing-function: ease-in-out;

  padding-bottom: var(--line-offset);

  background-image: linear-gradient(
    to right,
    var(--line-color) 0%,
    var(--line-color) 100%
  );
  background-size: 0 var(--line-size-hover);
  background-repeat: no-repeat;
  background-position: left bottom;

  // Disable transition on touch devices:
  @media (prefers-reduced-motion: no-preference) and (hover: hover) {
    transition-property: background-size;
    transition-duration: var(--line-animation-duration);
    transition-timing-function: var(--line-animation-timing-function);
  }

  &:hover,
  &:focus,
  &:global(.active) {
    background-size: 100% var(--line-size-hover);
  }
}
