@mixin screen($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin max-screen($max) {
    @media screen and (max-width: $max) {
        @content;
    }
}

@mixin min-screen($min) {
    @media screen and (min-width: $min) {
        @content;
    }
}

@mixin screen-height($min, $max) {
    @media screen and (min-height: $min) and (max-height: $max) {
        @content;
    }
}

@mixin max-screen-height($max) {
    @media screen and (max-height: $max) {
        @content;
    }
}

@mixin min-screen-height($min) {
    @media screen and (min-height: $min) {
        @content;
    }
}