@import "../../styles/mixins/theme";
@import "../../styles/mixins/vertical-rhythm";

.header {
  position: sticky;
  top: 0;

  width: 100%;
  height: calc(var(--vr-lh) * 3);

  background-color: hsla(var(--background-100-shade) / 0.85);
  box-shadow: 0 0 8px -3px var(--background-100);

  z-index: 4;
}

@supports (backdrop-filter: none) {
  .header {
    backdrop-filter: blur(5px);
  }

  @include theme("dark") {
    .header {
      background-color: hsla(var(--background-100-shade) / 0.75);
    }
  }

  @include theme("light") {
    .header {
      background-color: hsla(var(--background-100-shade) / 0.5);
    }
  }
}

.header__content {
  display: flex;
  align-items: center;

  margin: 0 auto;
  padding: 0 var(--cs-md);

  height: 100%;
  max-width: var(--mw-md);

  list-style: none;
}

.header__item {
  @include vr-font("md");

  font-family: var(--fn-main);
  font-weight: 500;

  padding: 0 0 0 var(--cs-xl);

  a {
    color: var(--text-primary);
  }
}

.header__item--logo {
  @include vr-font("lg");

  flex: 1;
  padding: 0;

  font-weight: 700;
}

.header__item--toggle-placeholder {
  width: 40px;
  height: 24px;
}
