@charset "utf-8"

$font-basic: "Open Sans", sans-serif
$font-logo:  "Open Sans", sans-serif

$color-background: #FFFFFF
$color-text:       #2C3E50
$color-link:       #3498DB
$color-fill:       #3498DB
