@charset "utf-8";

/**
 * Fonts:
 */

$font-logo: sans-serif;
$font-main: "Roboto", sans-serif;



/**
 * Colors:
 */

$color-text: #000;
$color-link: #2980B9;

$color-1: #fff;
$color-2: #000;



/**
 * Responsive stuff:
 */

$responsive-deskop: 1024px;
$responsive-tablet: 960px;
$responsive-mobile: 640px;