@import "../../styles/mixins/vertical-rhythm";

.heading__wrapper {
  margin: var(--ls-lg) 0;
  text-align: center;
}

.heading__text {
  max-width: var(--mw-xxs);

  margin-left: auto;
  margin-right: auto;

  color: var(--text-primary);

  &--h2 {
    @include vr-font("xxl");

    margin-top: 0;
    margin-bottom: var(--ls-xxs);

    font-family: var(--fn-head);
    font-weight: 700;
  }

  &--h3 {
    @include vr-font("md");

    font-weight: 400;
  }
}
