// by https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
%word-wrap {
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
	hyphens: auto;
}
