$breakpoints: (
    break-1: 640,
    break-2: 800,
    break-3: 1024
);

$rootsizes: (
    rootsize-1: 14,
    rootsize-2: 15,
    rootsize-3: 17
);



$gutterwidths: (
    small:  1rem,
    medium: 2rem,
    large:  4rem
);

$type-body: (
    font-family: $font-basic,
    italic: italic,
    regular: 400,
    bold: 700,
    cap-height: .66
);

$type-heading: (
    font-family: $font-logo,
    regular: 400,
    bold: 700,
    cap-height: .65
);



$breakpoints-limit: length($breakpoints);
$sizes:       map-values($rootsizes);
$points:      map-values($breakpoints);
