$color-accent: #fec081;
$color-border: #e1e4e8;
$color-background: #ffffff;
$color-alternative: #f8f8f8;

// Typography:
$color-link: darken(#fec081, 25%);
$color-text: #000000;

// Syntax highlighting:
$color-litteral: #a31515;
$color-comment: #008000;
$color-keyword: darken(#fec081, 25%);
