$font-main  : "Helvetica Neue", Helvetica, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-head  : "Montserrat", "Helvetica Neue", Helvetica, sans-serif !default;
$font-mono  : Menlo, Monaco, "Courier New", Courier, monospace !default;
$font-serif : "PT Serif", Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-size  : 18px !default;
