.l-container
    +clearfix

    width: 90.5%
    max-width: 1200px

    margin: 0 auto

    +max-screen($responsive-tablet)
        width: 100%

    .l-container-title
        text-transform: uppercase

        font-size: 13px
        line-height: 50px

        +max-screen($responsive-tablet)
            padding-left: 1.5rem



.l-container-box,
.l-container-box img
    +user-select(none)

    position: relative
    overflow: hidden

    width: 100%

.l-container-box
    margin: 2rem 0

    +max-screen($responsive-tablet)
        margin: 0

    img
        display: block
        
        width: 50%
        max-width: 574px
        max-height: 202px

        margin-top: 15%
        margin-left: 5%

    figcaption
        position: absolute
        top: 15%
        right: 5%

        font-size: 2rem



.l-container-fill
    position: relative

    min-height: 50px

    margin-left: 56px
    padding: 0 1rem 4rem

    +max-screen($responsive-tablet)
        margin-left: 0
        padding: 1rem 0

    &::before,
    &::after
        position: absolute
        right: 100%

        width: 56px

        content: ""
        z-index: 1

        +max-screen($responsive-tablet)
            width: 0

    &::before
        top: 0

        height: 50px

        background-repeat: no-repeat

    &::after
        top: 50px
        bottom: 0

        background-repeat: repeat-y

.l-container-fill-divider
    +max-screen($responsive-tablet)
        display: none

    &::after
        top: 0

    &:last-child
        display: none
