.l-footer
    position: relative

    height: auto
    width: 100%

    content: ""
    z-index: 1

    padding: 5rem

.l-footer-title
    text-align: center
    font-family: $font-header
    font-weight: 100
    font-size: 2rem
    line-height: 2.5rem

    padding: 2rem 0
