.l-header
    height: 50.5%
    width: 100%

    margin: 0 auto

    display: table
    z-index: 1



.l-header-about
    display: table-cell
    vertical-align: middle

    .l-header-title,
    .l-header-subtitle
        text-align: center
        font-family: $font-header
        font-weight: 100
        line-height: 2.5rem

    .l-header-title
        font-size: 2rem

    .l-header-subtitle
        font-size: 1rem
