%column
    +box-sizing(border-box)
    +display-flex()
    +flex-direction(column)
    +flex-grow(0)
    +flex-shrink(0)

    padding-right: .5rem
    padding-left: .5rem

.grid-row
    +box-sizing(border-box)
    +display-flex()
    +flex-direction(row)
    +flex-wrap(wrap)

    margin-right: -.5rem
    margin-left: -.5rem

.grid-row.grid-reverse
    +flex-direction(row-reverse)
    +flex-wrap(row-reverse)

.grid-column.grid-reverse
    +flex-direction(column-reverse)
    +flex-wrap(column-reverse)

.grid-column
    @extend %column

    +flex-grow(1)
    +flex-basis(0)

    max-width: 100%

@for $i from 1 through 12
    .grid-column-#{$i}
        @extend %column

        +flex-basis(100% / 12 * $i)
        max-width: 100% / 12 * $i

        +max-screen($responsive-mobile)
            &:not(.grid-mobile-no-stacking)
                +flex-basis(100%)

                max-width: 100% !important
                width: 100% !important

    @if $i < 12
        .grid-column-offset-#{$i}
            @extend %column

            margin-left: 100% / 12 * $i

.grid-start
    +justify-content(start)
    text-align: start

.grid-center
    +justify-content(center)
    text-align: center

.grid-end
    +justify-content(flex-end)
    text-align: end

.grid-top
    +align-items(start)

.grid-middle
    +align-items(center)

.grid-bottom
    +align-items(end)

.grid-around
    +justify-content(space-around)

.grid-between
    +justify-content(space-between)

.grid-first
    +order(-1)

.grid-last
    +order(1)

@media screen and (max-width: 568px)
    .grid-mobile-center
        text-align: center !important

    .grid-mobile-hide
        display: none !important
