// Typography:
$font-text  : "Roboto", sans-serif;
$font-head  : "Roboto", sans-serif;
$font-logo  : "Roboto", sans-serif;

// Secondary colors:
$text-color         : $dark-black;
$background-color   : $white;

// Hero:
$hero-background        : $white;