.box {
  @extend %with-shadow;

  position: relative;
  display: block;

  margin: .5rem;
  padding: 1rem .75rem;

  transition: all .2s ease-in-out;

  &-name {
    margin: 0 .25rem;

    font-family: $font-mono;
    font-size: 0.9rem;
    font-weight: 500;
    color: $color-text;
  }

  &-desc {
    margin: .75rem .25rem 1rem;

    font-size: .9rem;
    line-height: 1.25rem;
    color: $color-text;
  }

  &-meta {
    @extend %reset-list;

    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;

    font-family: $font-mono;
    font-size: .85rem;
    color: $color-text;
    background-image: linear-gradient(90deg, rgba(white, 0.0000001), white 15%);
  }

  &.is-hoverable {
    @include focusable(1px, $color-border);

    &:hover,
    &:focus {
      transform: scale(1.025);
    }

    &:hover {
      box-shadow: 0 3px 15px rgba($color-text, 0.10);
    }

    &:focus {
      box-shadow: 0 3px 15px rgba($color-accent, .35);
    }
  }

  &.is-wide {
    min-height: 155px;
    line-height: 155px;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    color: darken($color-border, 20%);

    padding: 0;
    opacity: 0.75;
  }
}
