%font-antialias {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
}

// by https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
%word-wrap {
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

%medium-paragraph {
  @extend %font-antialias;

	font-family: $font-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
	line-height: 1.5;
}

%caps {
	text-transform: uppercase;
	font-size: .80rem;
	font-weight: 500;
}

.posts {
	margin: 3rem 0 0 0;
	padding: 0;
}

.post {
	list-style: none;

  &-header {
    margin: 5rem 0;
		text-align: center;
  }

	&-meta {
		margin-top: 2rem;

		&-time {
			@extend %caps;

			margin-right: 1rem;
		}

		&-title {
			display: inline-block;

			margin-top: 1.25rem;
			padding: 0;

			font-feature-settings: "dlig", "liga", "lnum", "kern";
			font-family: $font-head;
			font-weight: 700;
			font-size: 2rem;
		}
	}

	&-content {
		@extend %medium-paragraph;
	}

	.caps {
		@extend %caps;
	}

  h1, h2, h3, h4, h5, h6 {
    @extend %font-antialias;
    @extend %word-wrap;

    font-feature-settings: "dlig", "liga", "lnum", "kern";
  	font-family: $font-head;
  	font-weight: 700;
  	font-style: normal;
  	letter-spacing: -.02em;

		margin: 0;
  }

  h1 {
  	font-size: 3rem;
  }

  h2 {
    font-size: 1.90rem;
  	line-height: 1.10;

  	margin-top: 3rem;
  }

  h3 {
  	font-size: 1.80rem;
  	line-height: 1.15;

  	margin-top: 3rem;
  }

  h4 {
  	font-size: 1.60rem;
  	line-height: 1.20;

  	margin-top: 2rem;
  }

  p, ul, dl, ol {
    font-feature-settings: "kern", "onum", "liga";
  }

  b, strong {
  	font-weight: 700;
  }

  em {
  	font-feature-settings: "liga" on,"salt" on;
  }

	p {
		@extend %medium-paragraph;
		@extend %word-wrap;

		letter-spacing: .01rem;

		margin-top: 1rem;
		margin-bottom: 0;
	}

	h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
		margin-top: 1rem;
	}

	a {
		@extend %word-wrap;

		letter-spacing: -.003em;
	}

	blockquote {
		@extend %medium-paragraph;
		@extend %word-wrap;

		font-style: italic;
		letter-spacing: -.01em;

		border-left-width: 3px;
		border-left-style: solid;
		border-left-color: $color-accent;

		padding-left: 20px;
		padding-bottom: 2px;

		margin-left: -23px;
    margin-top: 29px;
	}

	pre, code {
    @extend %font-antialias;
    @extend %word-wrap;

		font-family: $font-mono;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		line-height: 1.5;

		font-feature-settings: "liga" 0;

    background-color: $color-alternative;
		color: rgba($color-text, .8);
	}

	pre {
		margin: 3rem 0;
		padding: 1.5rem;

    letter-spacing: 0;
		white-space: pre-wrap;

		overflow-x: auto;
    overflow-y: auto;
	}

	code {
		letter-spacing: -.003em;
	}

	ul, ol {
		margin: 2rem 0 0;
    padding: 0;

    counter-reset: post;

		li {
			@extend %medium-paragraph;

			margin-left: 2rem;
			margin-bottom: 1rem;

      letter-spacing: -.003em;
		}

    ul, ol {
      margin: 1rem 0 0;
    }
	}

	figure {
		margin: 0;
		margin-top: 3rem;

		img {
			width: 100%;
			height: auto;
		}

		figcaption {
			font-family: $font-head;
			font-weight: 300;
			font-style: normal;
			font-feature-settings: "liga" on, "lnum" on;
			font-size: 14px;
			line-height: 1.4;
			letter-spacing: 0;
			text-align: center;

			em {
				font-style: normal;
			}
		}
	}

	hr {
    display: block;

		margin: 5rem 0;
    padding: 0;

		border: 0;
    height: 0;

		text-align: center;

		&:before {
			font-family: $font-serif;
			font-weight: 400;
			font-style: italic;
			font-size: 28px;
			letter-spacing: .6em;

			content: "...";
			display: inline-block;
			margin-left: .6em;
			color: rgba(0, 0, 0, .6);
			position: relative;
			top: -30px;
		}
	}

	mark {
		background-color: lighten($color-accent, 20%);
	}
}
