%font-antialias {
	text-rendering: optimizeLegibility;
	font-smoothing: antialiased;
}

// by https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
%word-wrap {
	overflow-wrap: break-word;
	word-break: break-word;
	word-wrap: break-word;
	hyphens: auto;
}

%medium-paragraph {
  @extend %font-antialias;

	font-family: $font-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
	line-height: 1.5;
}

%caps {
	text-transform: uppercase;
	font-size: .80rem;
	font-weight: 500;
}

.posts {
	margin: 3rem 0 0 0;
	padding: 0;

	list-style: none;

	li {
		margin: 0 0 5rem;
	}
}

.post {
  &-header {
    margin: 5rem 0;
		text-align: center;
  }

	&-meta,
	&-content {
		max-width: 850px;

		margin-left: auto;
		margin-right: auto;
	}

	&-meta {
		margin-top: 2rem;

		&-time,
		&-keywords {
			display: inline-block;

			margin: 0 1rem 0 0;
			padding: 0;
		}

		&-time {
			@include max-screen($mobile) {
				display: block;
				margin: 0 0 .5rem 0;
			};
		}

		&-title {
			margin-top: 1rem !important;
		}
	}

	.caps {
		@extend %caps;
	}

	&-content {
		@extend %medium-paragraph;

		a {
			@extend %word-wrap;

			background-image: linear-gradient(to bottom, rgba($color-text, .75) 50%, rgba($color-text, 0) 50%);
	    background-repeat: repeat-x;
			background-size: 2px 1px;
	    background-position: 0 1.30em;

			letter-spacing: -.005em;
			color: inherit;
		}

		abbr {
			border-bottom-width: 1px;
	    border-bottom-style: dashed;
	    border-bottom-color: rgba($color-text, .75);

	    text-decoration: none;
		}

		// Numbering headers
		// https://philarcher.org/diary/2013/headingnumbers/
		counter-reset: h2;
		h2 {counter-reset: h3}
	  h3 {counter-reset: h4}
	  h4 {counter-reset: h5}
	  h5 {counter-reset: h6}

	  h2:before {counter-increment: h2; content: counter(h2) ". "}
	  h3:before {counter-increment: h3; content: counter(h2) "." counter(h3) ". "}
	  h4:before {counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
	  h5:before {counter-increment: h5; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "}
	  h6:before {counter-increment: h6; content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6) ". "}
	}

  h1, h2, h3, h4, h5, h6 {
    @extend %font-antialias;
    @extend %word-wrap;

    font-feature-settings: "dlig", "liga", "lnum", "kern";
  	font-family: $font-head;
  	font-weight: 700;
  	font-style: normal;
  	letter-spacing: -.02em;

		margin: 0;
  }

  h1 {
  	font-size: 3rem;
  }

  h2 {
    font-size: 1.90rem;
  	line-height: 1.10;

  	margin-top: 3rem;
  }

  h3 {
  	font-size: 1.80rem;
  	line-height: 1.15;

  	margin-top: 3rem;
  }

  h4 {
  	font-size: 1.60rem;
  	line-height: 1.20;

  	margin-top: 2rem;
  }

  p, ul, dl, ol {
    font-feature-settings: "kern", "onum", "liga";
  }

  b, strong {
  	font-weight: 700;
  }

  em {
  	font-feature-settings: "liga" on,"salt" on;
  }

	p {
		@extend %medium-paragraph;
		@extend %word-wrap;

		letter-spacing: .01rem;

		margin-top: 1rem;
		margin-bottom: 0;

		img {
			max-width: 100%;
			height: auto;

			margin: 2rem auto 1rem;
		}
	}

	h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
		margin-top: 1rem;
	}

	blockquote,
	blockquote p {
		@extend %medium-paragraph;
		@extend %word-wrap;

		font-style: italic;
		letter-spacing: -.01em;

		border-left-width: 3px;
		border-left-style: solid;
		border-left-color: $color-accent;

		padding-left: 20px;
		padding-bottom: 2px;

		margin-left: -23px;
    margin-top: 29px;

		color: rgba($color-text, .75);
	}

	pre, code {
    @extend %font-antialias;
    @extend %word-wrap;

		font-family: $font-mono;
		font-size: 18px;
		font-weight: 400;
		font-style: normal;
		line-height: 1.5;

		font-feature-settings: "liga" 0;

    background-color: $color-alternative;
		color: rgba($color-text, .75);
	}

	pre {
		margin: 3rem 0;
		padding: 1.5rem;

    letter-spacing: 0;
		white-space: pre-wrap;

		overflow-x: auto;
    overflow-y: auto;
	}

	code {
		letter-spacing: -.005em;
	}

	ul, ol {
		margin: 2rem 0 0;
    padding: 0;

    counter-reset: post;

		li {
			@extend %medium-paragraph;

			margin-left: 2rem;
			margin-bottom: 1rem;

      letter-spacing: -.005em;
		}

    ul, ol {
      margin: 1rem 0 0;
    }
	}

	figure {
		margin: 0;
		margin-top: 3rem;

		img {
			width: 100%;
			height: auto;
		}

		figcaption {
			font-family: $font-head;
			font-weight: 300;
			font-style: normal;
			font-feature-settings: "liga" on, "lnum" on;
			font-size: 14px;
			line-height: 1.5;
			letter-spacing: 0;
			text-align: center;

			em {
				font-style: normal;
			}
		}
	}

	hr {
    display: block;

		margin: 5rem 0;
    padding: 0;

		border: 0;
    height: 0;

		text-align: center;

		&:before {
			font-family: $font-serif;
			font-weight: 400;
			font-style: italic;
			font-size: 28px;
			letter-spacing: .6em;

			content: "...";
			display: inline-block;
			margin-left: .6em;
			color: rgba(0, 0, 0, .6);
			position: relative;
			top: -30px;
		}
	}

	mark {
		background-color: lighten($color-accent, 20%);
	}
}
