:root {
  --toggle-light: hsl(33 98% 50%);
  --toggle-light-hover: hsl(33 98% 35%);
  --toggle-dark: hsl(266 48% 50%);
  --toggle-dark-hover: hsl(266 48% 35%);
}

.react-toggle {
  position: relative;
  cursor: pointer;

  touch-action: pan-x;
  user-select: none;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle-track {
  width: 40px;
  height: 24px;

  padding: 0;

  border-radius: 24px;
  background-color: var(--toggle-light);

  @media (prefers-reduced-motion: no-preference) {
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }
}

.react-toggle:hover .react-toggle-track {
  background-color: var(--toggle-light-hover);
}

.react-toggle--checked .react-toggle-track {
  background-color: var(--toggle-dark);
}

.react-toggle--checked:hover .react-toggle-track {
  background-color: var(--toggle-dark-hover);
}

.react-toggle-thumb {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 22px;
  height: 22px;

  border: 1px solid var(--toggle-light);
  border-radius: 50%;
  background-color: #fafafa;

  box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {
    transition-property: left, border-color, box-shadow;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  }
}

// Checked:
.react-toggle--checked .react-toggle-thumb {
  left: 17px;
  border-color: var(--toggle-dark);
}

// Focused:
.react-toggle--focus .react-toggle-thumb {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

// Clicked:
.react-toggle:active .react-toggle-thumb {
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.25);
}
