---
layout: default
---

<main class="content" itemprop="mainContentOfPage">
  <article class="post" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" style="display: none">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>

        {% if page.author %}
          <span itemscope itemprop="author" itemtype="http://schema.org/Person" style="display: none">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}

        {% if page.keywords %}
          <span itemprop="keywords">
            {% for keyword in page.keywords %}
              <strong class="keyword">{{ keyword }}</strong>
            {% endfor %}
          </span>
        {% endif %}
      </p>
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</main>
