.content {
  position: relative;

  margin: 0 auto;
  padding: 4rem 1rem;

  max-width: $desktop;
  width: 100%;

  &-header {
    display: block;

    width: 100%;
    height: auto;

    text-align: center;
  }

  &-heading,
  &-subheading {
    margin-left: auto;
    margin-right: auto;
  }

  &-heading {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 2.5rem;
    font-weight: 900;
    font-family: $font-head;
  }

  &-subheading {
    margin-bottom: 4rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    max-width: 500px;
  }
}
