.footer {
  // Align text on tablets:
  @include max-screen($tablet) {
    text-align: center;
  }

  // Align contact on right on desktops:
  &-contact {
    float: right;

    @include max-screen($tablet) {
      float: none;
    }
  }

  &-source {
    margin: 1.5rem 1rem 0;

    font-size: .85rem;
    font-weight: 500;
  }

  &-menu {
    padding: 0;

    &-item {
      display: inline-block;
      margin: 0 1rem;

      @include max-screen($mobile) {
        margin: .5rem .5rem 0;
      }

      a {
        line-height: 2rem;
        font-family: $font-mono;
        color: $color-text;
      }
    }
  }
}
