/**
 * Prevent iOS text size adjust after orientation change, without disabling user
 * zoom. Set default font family to sans-serif.
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-family: sans-serif;
}



/**
 * Remove default margin.
 */

body {
    margin: 0;
}



/**
 * Correct block display not defined for any HTML5 element in IE 8/9, details or
 * summary in IE 10/11 and Firefox, main in IE 11.
 */

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}



/**
 * Correct inline-block display not defined in IE 8/9. Normalize vertical
 * alignment of progress in Chrome, Firefox, and Opera.
 */

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}



/**
 * Prevent modern browsers from displaying `audio` without controls. Remove
 * excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}



/**
 * Address [hidden] styling not present in IE 8/9/10. Hide the template element
 * in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden], template {
    display: none;
}



/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;



    /**
     * Remove border when inside a element in IE 8/9/10.
     */

    img {
        border-width: 0;
    }



    /**
     * Improve readability when focused and also mouse hovered in all browsers.
     */

    &:active, &:hover {
        outline: 0;
    }
}



/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}



/**
 * Address style set to bolder in Firefox 4+, Safari, and Chrome.
 */

b, strong {
    font-weight: bold;
}



/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}



/**
 * Address styling not present in IE 8/9.
 */

mark {
    background-color: #ff0;
    color: #000;
}



/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}



/**
 * Prevent sub and sup affecting line-height in all browsers.
 */

sub, sup {
    position: relative;
    vertical-align: baseline;

    font-size: 75%;
    line-height: 0;
}

sup { top: -.5em; }
sub { bottom: -.25em; }



/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}



/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}



/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    height: 0;
}



/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}



/**
 * Address odd em-unit font size rendering in all browsers.
 */

code, kbd, pre, samp {
    font-family: monospace;
    font-size: 1em;
}



/**
 * Correct color not being inherited. Known issue: affects color of disabled
 * elements. Correct font properties not being inherited. Address margins set
 * differently in Firefox 4+, Safari, and Chrome.
 */

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;

    margin: 0;
}



/**
 * Address overflow set to hidden in IE 8/9/10/11.
 */

button {
    overflow: visible;
}



/**
 * Address inconsistent text-transform inheritance for button and select. All
 * other form control elements do not inherit text-transform values. Correct
 * button style inheritance in Firefox, IE 8/9/10/11, and Opera, and select
 * style inheritance in Firefox.
 */

button, select {
    text-transform: none;
}



/**
 * Avoid the WebKit bug in Android 4.0.* where destroys native audio and video
 * controls. Correct inability to style clickable input types in iOS. Improve
 * usability and consistency of cursor style between image-type input and
 * others.
 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;

    cursor: pointer;
}



/**
 * Re-set default cursor for disabled elements.
 */

button[disabled], html input[disabled] {
    cursor: default;
}



/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}



/**
 * Address Firefox 4+ setting line-height on input using !important in the UA
 * stylesheet.
 */

input {
    line-height: normal;
}



/**
 * It's recommended that you don't attempt to style these elements. Firefox's
 * implementation doesn't respect box-sizing, padding, or width.
 *
 * Address box sizing set to content-box in IE 8/9/10. Remove excess padding in
 * IE 8/9/10.
 */

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;

    padding: 0;
}



/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * font-size values of the input, it causes the cursor style of the decrement
 * button to change from default to text.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}



/**
 * Address appearance set to searchfield in Safari and Chrome. Address
 * box-sizing set to border-box in Safari and Chrome (include -moz to
 * future-proof).
 */

input[type="search"] {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;

    -webkit-appearance: textfield;



    /**
     * Remove inner padding and search cancel button in Safari and Chrome on
     * OS X. Safari (but not Chrome) clips the cancel button when the search
     * input has padding (and textfield appearance).
     */
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
        appearance: none;
    }
}



/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0;

    margin-left: 2px;
    margin-right: 2px;

    padding: .35em .625em .75em;
}



/**
 * Correct color not being inherited in IE 8/9/10/11. Remove padding so people
 * aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    padding: 0;
}



/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}



/**
 * Don't inherit the font-weight (applied by a rule above). The default cannot
 * safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}



/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;

    td, th {
        padding: 0;
    }
}