.l-container-title
    color: darken($color-background, 15%)

.l-container-box-image-title
    color: $color-background

.l-container-fill
    background-color: $color-background

.l-container-fill::after
    background-image: url("../../images/filling/line.svg")

.l-container-fill.l-container-icon-1::before
    background-image: url("../../images/filling/1.svg")

.l-container-fill.l-container-icon-2::before
    background-image: url("../../images/filling/2.svg")

.l-container-fill.l-container-icon-3::before
    background-image: url("../../images/filling/3.svg")

.l-container-fill.l-container-icon-4::before
    background-image: url("../../images/filling/4.svg")
