.l-contact,
.l-contact-input,
.l-contact-textarea
    border-color: darken($color-background, 15%)

.l-contact
    +border-radius(8px)

.l-contact-submit input
    +border-radius(0 0 8px 8px)

    background-color: darken($color-background, 15%)
    color: darken($color-background, 85%)

